# This is a basic workflow to help you get started with Actions

name: Linting

# Controls when the action will run.
# Triggers the workflow on push or pull request
# events but only for the main branch
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch: {}

# A workflow run is made up of one or more jobs
# that can run sequentially or in parallel
jobs:
  lint_powershell:
    runs-on: ubuntu-latest
    name: Lint Powershell Code Base
    steps:
      - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
      - name: Super-Linter
        uses: docker://index.docker.io/github/super-linter@sha256:249a4426fdf5b7b6fdd3658229b68ec9e02f2f417ea911f3ffdcd97edea1015a # v4
        env:
           VALIDATE_ALL_CODEBASE: true
           VALIDATE_POWERSHELL: true
           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  lint_bash:
    runs-on: ubuntu-latest
    name: Lint Bash Base
    steps:
      - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
      - name: Super-Linter
        uses: docker://index.docker.io/github/super-linter@sha256:249a4426fdf5b7b6fdd3658229b68ec9e02f2f417ea911f3ffdcd97edea1015a # v4
        env:
           VALIDATE_ALL_CODEBASE: true
           VALIDATE_BASH: true
           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#  lint_docker:
#    runs-on: ubuntu-latest
#    name: Lint Docker Base
#    steps:
#      - uses: actions/checkout@v4.1.7
#      - name: Super-Linter
#        uses: docker://github/super-linter:v4
#        env:
#           VALIDATE_ALL_CODEBASE: true
#           VALIDATE_DOCKER: true
#           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
