name: Testing special issues

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch: {}

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  special-issues:
    strategy:
      matrix:
        os: [ macos, ubuntu]
#        os: [ macos, ubuntu, windows]
      fail-fast: false # Allows to see results from other combinations
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Set OS-specific variables for Windows
        if: matrix.os == 'windows'
        run: |
          echo "OS_PATH=windows" >> $GITHUB_ENV
          echo "OS_FILE_EXTENSION=ps1" >> $GITHUB_ENV
        shell: bash

      - name: Set OS-specific variables for macOS and Ubuntu
        if: matrix.os != 'windows'
        run: |
          echo "OS_PATH=linux_mac" >> $GITHUB_ENV
          echo "OS_FILE_EXTENSION=sh" >> $GITHUB_ENV
        shell: bash
      - name: Download Special Issues linux
        id: specialIssues
        run: ./${{ env.OS_PATH }}/magpi-special-issue-downloader.${{ env.OS_FILE_EXTENSION }}

      - name: "Check file existence for special issues"
        id: check_files
        uses: andstor/file-existence-action@076e0072799f4942c8bc574a82233e1e4d13e9d6 # v3.0.0
        with:
          files: "special_issues/C_and_GUI_Programming_2nd_Edition.pdf, special_issues/Get_started_with_MicroPython_on_Raspberry_Pi_Pico_2nd_ed.pdf, special_issues/Retro_Gaming_with_Raspberry_Pi_3rd_ed.pdf"
          fail: true
      - name: lslah
        run: ls -lah special_issues/
        shell: bash
      - name: File exists
        if: steps.check_files.outputs.files_exists == 'false'
        run: exit 1
