name: Update latest issues

on:
  pull-request:
    branches: [ main ]

jobs:
  bash-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.3.0
      - name: update issues
        id: updateIssues
        run: bash ./sources-for-download/script-for-using-latest-version.sh
      - name: gitStatus
        run: git status
      - name: catIssue
        run: cat ./sources-for-download/regular-issues.txt
      - name: config git
        run: |
          git config --local user.email "1439809+joergi@users.noreply.github.com"
          git config --local user.name "Joergi via GitHub Actions"
      - name: gitCommit
        run: git commit -am "update use latest version"
      - name: gitStatus
        run: git status
      - name: gitPush
        run: git push
